.space-station {
    background: url('/app/assets/space-station-bkg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

    padding: 20px;

    .header {
        display: flex;
        justify-content: space-between;
    }
}

.info-pane {
    padding-bottom: 10px;
}

.top-status-bar {
    span {
        margin: 0 10px;
    }
    hr.MuiDivider-root {
        border-color: grey;
    }
}

.station-stepper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 0 40px;
}

.contract-picker,
.ship-picker {
    padding: 20px;

    .MuiPaper-root {
        padding: 15px;
    }

    .contract-list,
    .ship-list {
        width: 20%;
    }

    .contract-details,
    .ship-details {
        padding-top: 8px;
        width: 30%;
        display: flex;
    }

    .select-contract-pane,
    .select-ship-pane {
        padding-top: 8px;
        width: 20%;
    }
}
