.space-station {
    background: url('/app/assets/space-station-bkg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    padding: 20px;

    .header {
        display: flex;
        justify-content: space-between;
    }
}

.info-pane {
    padding-bottom: 10px;
}

.top-status-bar {
    span {
        margin: 0 10px;
    }
    hr.MuiDivider-root {
        border-color: grey;
    }
}

.station-stepper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 0 40px;
}

.item-picker {
    padding: 20px;
    display: flex;

    .MuiPaper-root {
        padding: 15px;
    }

    .item-list {
        width: 30%;
    }

    .item-details {
        padding: 8px 10px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 10px;
    }

    .select-item-pane {
        padding-top: 8px;
        width: 20%;

        .item-select-button {
            margin-bottom: 10px;
        }
    }
}

.your-cargo {
    margin-top: 20px;

    .cargo-items {
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .cargo-agg-item {
        display: flex;
        .label {
            margin-left: 16px;
        }
    }
}
